---
import background from '../assets/background.png';
import logo from '../assets/Coffield Fiber Arts logo.jpg';
import {Image} from 'astro:assets';
import {getCollection} from 'astro:content';

const products = await getCollection('products');

---

<div id="container">
	<img id="background" src={background.src} alt="" fetchpriority="high" />
	<main>
		<section id="header">
			<div class="flex-container">
				<img src={logo.src} width="100" height="75" alt="logo">
				<h1>MC Fiber Arts</h1>
				<p>Welcome to MC Fiber Arts! I create custom crochet items, including marketbags, various products for the kitchen such as scrubbies, potholders, and much more. If you have a specific request or idea in mind, feel free to reach out!</p>

			</div>
		</section>
		<section id="slideshow">
			<div class="grid-container">
					{
						products.map((item) => (
							<div class="image-container">
								<Image 
									src={item.data.coverImage}
									alt={item.data.name}
									format="avif"
									width={250}
									class="grid-child"
								/>
								<div class="text-center">
									<strong class="font-normal">{item.data.name}</strong>
								</div>
							</div>
						))
					}
			</div>
		</section>
		<section id="links">
            <a class="button" href="https://www.instagram.com/mcfiberartscrochet/" target="_blank">Check out my Instagram!</a>
            <a class="button" href="https://mc-fiber-arts.square.site/" target="_blank">Visit my online store!</a>
            <a class="button" href="mailto:mcfiberarts@gmail.com?subject=Inquiry" target="_blank">Contact me</a>
        </section>
	</main>
</div>

<style>
	#background {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		filter: 
			blur(50px)
			brightness(200%)
			saturate(75%);
		
	}

	#container {
		font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
		height: 100%;
		text-align: center;
	}

	main {
		height: 100%;
		display: grid;
		justify-content: center;
	}

	#header {
		display: flex;
		align-items: start;
		flex-direction: column;
		justify-content: center;
		padding: 16px;
	}

	h1 {
		font-size: 22px;
		margin-top: 0.25em;
	}

	#links {
		display: flex;
		gap: 16px;
		justify-content: center;
	}

	#links a {
		display: flex;
		align-items: center;
		padding: 10px 12px;
		color: #111827;
		text-decoration: none;
		transition: color 0.2s;
	}

	#links a.button {
		color: white;
		background: linear-gradient(83.21deg, #6e1896 0%, #0a4a21 100%);
		box-shadow:
			inset 0 0 0 1px rgba(255, 255, 255, 0.12),
			inset 0 -2px 0 rgba(0, 0, 0, 0.24);
		border-radius: 10px;
		height: 40px;
	}

	.grid-container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;
	}

	.image-container {
            text-align: center; /* Centers the image and text */
            margin: 20px;
	}
	.image-container img {
		max-width: 100%; /* Ensures the image is responsive */
		height: auto;
	}
</style>
